@{
    Layout = "";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AdminLTE 3 | Log in (v2)</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="~/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/dist/css/adminlte.min.css">
    <style>
        small{
            color:red;
            font-size:15px;
        }
    </style>
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <!-- /.login-logo -->
        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <a href="../../index2.html" class="h1"><b>Book</b>Ease</a>
            </div>
            <div class="card-body">
                <p class="login-box-msg">Sign in to start your session</p>                           

                <form method="post">
                    <small id="Emailerror">*Please Enter User Name</small>
                    <div class="input-group mb-3">
                        <input type="email" class="form-control input" id="LogUserName" placeholder="Email">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <small id="Passerror">*Please Enter valid password</small>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control input" id="LogPassword" placeholder="Password">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <br /><br />
                    <div class="row">
                        <div class="col-8">
                            <div class="icheck-primary">
                                <input type="checkbox" id="remember">
                                <label for="remember">
                                    Remember Me
                                </label>
                            </div>
                        </div>

                        <!-- /.col -->
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary btn-block" id="LogForm-btn">Sign In</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>
                <!-- /.social-auth-links -->
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.login-box -->
    <!-- jQuery -->
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/dist/js/adminlte.min.js"></script>
    <!--------------Page Script----------------->
    <script>
        $(document).ready(function () {
            $("#Emailerror").hide();
            $("#Passerror").hide();

            /*--------------Login Script-----------------*/
            $("#LogForm-btn").on("click", function (e) {
                e.preventDefault();
                var id = $("#LogUserName").val();
                var pss = $("#LogPassword").val();

               
                if (isvalid() == true) {
                    var formdata = {
                        LogUserName: id,
                        LogPassword: pss
                    };
                    var ur = "/Auth/LoginValid";
                    $.ajax({
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        url: ur,
                        type: "POST",
                        data: JSON.stringify(formdata),
                        success: function (response) {
                            if (response.status == "Success") {
                                alert("Success -" + response.message);
                                sessionStorage.setItem("Logusername", response.data);
                                window.location.href = "/BookView/Index";
                            } else {
                                alert("Error -" + response.message);
                            }

                        },
                        error: function (xhr, textStatus, error) {
                            console.log('Error:', error);
                        }
                    });
                }
            });
            /*--------------Detect Space Script-----------------*/
            $(".input").on("keypress", function (e) {
                if (e.which == 32) {
                    return false;
                }
            });

        });
        function isvalid() {
            var flag = false;
            var id = $("#LogUserName").val();
            var pss = $("#LogPassword").val();
            if (id == "") { $("#Emailerror").show(); }
            else { $("#Emailerror").hide(); flag = true; }
            if (pss == "") { $("#Passerror").show(); flag = false; }
            else { $("#Passerror").hide(); flag = true; }
            return flag;
        }
    </script>


</body>
</html>
