@{
    ViewData["Title"] = "Dashboard";
}

<div class="Dash">
        <div class="main-search row">
            <div class="main-search-tag col">
                <p>Filter: </p>
            </div>
            <div class="main-search-left col">
                <input type="text" placeholder="Filter By Book Title..">
            </div>
            <div class="main-search-mid col">
                <input type="text" placeholder="Filter By Category..">
            </div>
            <div class="main-search-Right col">
                <input type="submit" value="Search">
            </div>
        </div>

        <div class="card-deck">
            <div class="card" style="width:400px">
                <img class="card-img-top" src="photo/f3.jpg" alt="Card image" style="width:100%">
                <div class="card-body">
                    <p class="card-text ">Available</p>
                    <a href="#" class=" stretched-link">More Info</a>
                </div>
            </div>
            <div class="card" style="width:400px">
                <img class="card-img-top" src="photo/f3.jpg" alt="Card image" style="width:100%">
                <div class="card-body">
                    <p class="card-text ">Available</p>
                    <a href="#" class=" stretched-link">More Info</a>
                </div>
            </div>
            <div class="card" style="width:400px">
                <img class="card-img-top" src="photo/f3.jpg" alt="Card image" style="width:100%">
                <div class="card-body">
                    <p class="card-text ">Available</p>
                    <a href="#" class=" stretched-link">More Info</a>
                </div>
            </div>
            <div class="card" style="width:400px">
                <img class="card-img-top" src="photo/f3.jpg" alt="Card image" style="width:100%">
                <div class="card-body">
                    <p class="card-text ">Available</p>
                    <a href="#" class=" stretched-link">More Info</a>
                </div>
            </div>
            <div class="card" style="width:400px">
                <img class="card-img-top" src="photo/f3.jpg" alt="Card image" style="width:100%">
                <div class="card-body">
                    <p class="card-text ">Available</p>
                    <a href="#" class=" stretched-link">More Info</a>
                </div>
            </div>
            <div class="card" style="width:400px">
                <img class="card-img-top" src="photo/f3.jpg" alt="Card image" style="width:100%">
                <div class="card-body">
                    <p class="card-text ">Available</p>
                    <a href="#" class=" stretched-link">More Info</a>
                </div>
            </div>
           
        </div>
    </div>
